body {
    color: black;
    margin: 5%;
    margin-top: 5%;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
 }

#content h2 {
    margin-bottom: 10px; /* adjusting margin after h2 */
}

 /* Links */
a {
    color: #0366d6;
    text-decoration: none;
}

a:visited {
    color: #0366d6;
}

a:hover {
    color: #0366d6;
    text-decoration: underline;
}

a.black-link {
    color: black;
    text-decoration: none; /* removes the underline by default */
  }

/* Images */
img.rounded-corners {
    /*border-radius: 0 50% 50% 50%;*/
    border-radius: 50%;
  }


/* Custom containers */
#container {
    width: 75vw;
    padding: 5%;
    margin: 5%;
}

#sidebar {
    float: right;
    width: 35vw;
    background: #F5F5F5;
    padding: 5%;
    margin: 5%;
    clear: right;
}

#content {
    overflow: hidden;
    margin: 5%;
    margin-left: 15%;
    padding: 5%;
}

.curve {
    width: 60%; /* Adjust the width as needed */
    height: 50vw; /* 50% of the viewport height; adjust as needed */
    background-color: transparent;
    border-radius:  50% 0 0 0 / 50% 0 0 0;
    border: 2px solid #000;
    text-align: center;
    line-height: 50vw; /* Center the text vertically */
    position: relative;
}


/* EXTRA STUFF FOR SMALL SCREENS */

@media only screen and (max-width: 768px) {
    /* Your mobile-specific styles here */
    body {
        margin: 2%;
        font-size: smaller;
        /* Adjust other properties */
    }

    #container {
        width: 90%;
        padding: 2%;
        margin: 2%;
    }

    #sidebar {
        width: 100%;
        float: none;
        /* Adjust other properties */
    }

    #content {
        margin-left: 0;
        /* Adjust other properties */
    }
}